* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(216, 216, 216);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
}

.appContainer {
  width: 100vw;
}

.Home {
  width: 74%;
  height: 100vh;
  background-color: goldenrod;
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}
